<div class = "content">
    <div class = "form">
    <%= form_for(@indoor_plant) do |f| %>

        <%= f.hidden_field :store_id %>

        <%= f.text_field :name, placeholder: "What is the name of the plant you want to sell?" %>
        <br><br>

        <%= f.text_field :price, placeholder: "How much would you like to sell the plant for?" %>
        <br><br>

        <%= f.text_field :image, placeholder: "Please include the image source for the plant." %>
        <br><br>
        
        <%= f.submit "Submit" %>

    <% end %>
    </div>
</div>

<div class="special">
<%= link_to "Delete Plant from Store", @indoor_plant, method: :delete, data: { confirm: "Are you sure you want to delete this Plant?" } %>
</div>