<div class = "content">
    <div class = "form">
    <%= form_for(@indoor_plant) do |f| %>

        <%= f.text_field :name, placeholder: "What is the name of the plant you want to sell?" %>
        <br><br>

        <%= f.text_field :price, placeholder: "How much would you like to sell the plant for?" %>
        <br><br>

        <%= f.label :store_id, "Select a Store" %>
        <%= f.collection_select :store_id, Store.all, :id, :name, prompt: true %>
        
        <%= f.submit "Submit" %>

    <% end %>
    </div>
</div>