<div class="content">

<% if params[:customer_id] %>

<% if @stores.empty? %>

<p>You do not own any shops.</p>

<% else %>

<table>

  <tr>
    <th>Store</th>
    <th>Plants</th>
    <th>Income</th>
    <th>Plants Sold</th>
    <th>Most Sold Plant</th>
  </tr>

    <% @stores.each.with_index(1) do |store, index| %>
        <tr>
          <td><%= link_to store.name, customer_store_path(store.customer, store) %></td>
          <td><%= store.indoor_plants.count %></td>

          <td>
            <% if store.income.nil? %>
              <%= 0 %>
            <% else %>
              <%= store.income %>
            <% end %>
          </td>

        </tr>
    <% end %>

</table>

<% end %>

</div>

<div class="special">
<%= link_to 'Create New Store', new_customer_store_path %>
</div>

<% else %>

<table>

<tr>
    <th>Store</th>
    <th>Owner</th>
</tr>

<% @stores.each do |store| %>
  <tr>
  <td><%= link_to store.name, store_path(store) %></td>
  <td><%= store.customer.name %></td>
  <tr>
  <% end %>

  <% end %>