<div class="content">
  <% if params[:user_id] %>
    <% if @stores.empty? %>
      <p>You do not own any shops.</p>
    <% else %>
      <table>
        <tr>
          <th>Store</th>
          <th>Plants</th>
          <th>Income</th>
          <th>Plants Sold</th>
          <th>Most Sold Plant</th>
        </tr>

        <% @stores.each.with_index(1) do |store, index| %>
          <tr>
          <td><%= link_to store.name, user_store_path(store.user, store) %></td>
          <td><%= store.indoor_plants.count %></td>
          <td><%= store.income.nil? ? 0:store.income %></td>
          <td><%= link_to store.plants_sold.count, plants_sold_path(store) %></td>
          <td><%= store.most_sold_plant %></td>
          </tr>
        <% end %>
      </table>
    <% end %>

  <div class="special">
  <%= link_to 'Create New Store', new_user_store_path %>
  </div>

  <% else %>
    <table>
      <tr>
          <th>Store</th>
          <th>Plants</th>
          <th>Owner</th>
      </tr>

      <% @stores.each do |store| %>
        <tr>
          <td><%= link_to store.name, store_path(store) %></td>
          <td><%= store.indoor_plants.count %></td>
          <td><%= store.user.name %></td>
        </tr>
      <% end %>
    </table><br><br>    

    <div class="filter">
      <%= form_tag("/stores", method: "get") do %>
        <%= select_tag "user", options_from_collection_for_select(@users, "id", "name"), include_blank: true %>
        <%= submit_tag("Filter", :style => "width:100px; height: 20px;") %>
      <% end %>
    </div>

  <% end %>
</div>
