<div class="error">
    <% if @store.errors.any? %>
        <% @store.errors.full_messages.each do |message| %>
            <%= message %>.<br>
        <% end %><br>
    <% end %>
</div>

<div class="form">

<%= form_for(@store) do |f| %>

    <%= f.text_field :name, placeholder: "Please enter in a shop name.", required: true %>
    <br><br>

    <%= f.text_field :bio, placeholder: "Please enter a bio for your shop.", required: true %>
    <br><br>

    <%= f.text_field :prestige, placeholder: "Please enter in prestige level.", required: true %>
    <br><br>

    <%= f.submit "Submit" %>

<% end %>

</div>