<h1>Create New Store</h1>

<%= form_for(@store) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>

    <%= f.label :prestige %>
    <%= f.text_field :prestige %>
    <br><br>

    <%= f.label :store_id, "Select a Store" %>
    <%= f.collection_select :store_id, Store.all, :id, :name %>
    
    <%= f.submit "Submit" %>

<% end %>