<div class="content">

<h2><%= @store.name %></h2>

<div class="bio">
<p><%= @store.bio %><p>
</div>

<h2>Plants in Stock</h2>


<% @store.indoor_plants.each do |plant| %>
    <div class="store_plants">

    <img src="<%= plant.image %>"><br>
    <%= link_to plant.name, indoor_plant_path(plant) %><br>
    $<%= plant.price %><br>
    </div>

<% end %>



</div>


<div class="special">
<% if session[:customer_id] == @store.customer_id %>
    <%= link_to 'Add Plants to Shop', new_store_indoor_plant_path(@store) %> 
<% end %>
</div>