<h2>Sign Up</h2>

<div class="form">
<%= form_for(@customer, url:'/signup') do |f| %>

    <%= f.email_field :email, placeholder: "Email", required: true %>
    <br><br>

    <%= f.password_field :password, placeholder: "Password", required: true %>
    <br><br>

    <%= f.text_field :name, placeholder: "First Name", required: true %>
    <br><br>

    <%= f.number_field :cash, placeholder: "Cash", required: true %>
    <br><br>
    
    <%= f.submit "Submit" %>

<% end %>
</div>