<div class="customer_info">

    <h2><%= @customer.name %></h2>

    You have $<%= @customer.cash %>. Would you like to reload?
    <br><br>

    What would you like to do?<br>
    <%= link_to 'Browse Shops', stores_path %><br>
    <%= link_to 'Log Out', '/logout' %><br>

</div>

<div class="customer_plants">
    <h2>Owned Plants</h2>
    <%= binding.pry %>
</div>