<h1>Login</h1>

<div class="error">
    <p><%= flash[:message] %></p>
</div>

<%= form_for(@customer, url: '/login') do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email %>
    <br><br>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    
    <%= f.submit "Submit" %>

<% end %>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>
