<h2>Login</h2>

<div class="error">
    <p><%= flash[:message] %></p>
</div>

<div class="form">
    <%= form_for(@customer, url: '/login') do |f| %>

        <%= f.email_field :email, placeholder: "Please enter in your email.", required: true %>
        <br><br>

        <%= f.password_field :password, placeholder: "Please enter in your password.", required: true %>
        <br><br>
        
        <%= f.submit "Submit" %>

    <% end %>
</div>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>
