<img src="https://www.pinclipart.com/picdir/big/212-2122243_potted-plant-potted-plant-pixel-art-clipart.png" width="100" height="100">

<div class="error">
    <p><%= flash[:message] %></p>
</div>

<div class="form">
    <%= form_for(@user, url: '/login') do |f| %>
        <%= f.email_field :email, placeholder: "Please enter in your email.", required: true %><br><br>
        <%= f.password_field :password, placeholder: "Please enter in your password.", required: true %><br><br>
        <%= f.submit "Submit" %>
    <% end %>
</div>

<div class="special">
<%= link_to('Facebook Login', '/auth/facebook') %>
</div>
