<!DOCTYPE html>
<html>
  <head>
    <title>Plant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <h1>LabSprout</h1>

    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">  </head>

  <body>

  <div class="nav_bar">

      <a href="/" style="text-decoration:none">Home</a>
      <a href="/about" style="text-decoration:none">About</a>
      <a href="/stores" style="text-decoration:none">Browse Shops</a>
      <a href="/indoor_plants" style="text-decoration:none">Browse Plants</a>

      <%if logged_in? %>
        <a href="/users/<%= current_user.id %>" style="text-decoration:none"><%= current_user.name %></a>
        <a href="/logout" style="text-decoration:none">Log Out</a>
      <% else %>
        <a href="/signup" style="text-decoration:none">Sign Up</a>
        <a href="/login" style="text-decoration:none">Log In</a>
      <% end %>

  </div>

    <%= yield %>

  </body>
</html>
