<!DOCTYPE html>
<html>
  <head>
    <title>Plant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Showpage</a></li>
    <li><a href="/">Browse Shops</a></li>
    <li><a href="/">About</a></li>
  </ul>

    <%= yield %>

  </body>
</html>
