<!DOCTYPE html>
<html>
  <head>
    <title>Plant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">  </head>

  <body>

  <div class="nav_bar">

      <a href="/">Home</a>
      <a href="/">Browse Shops</a>
      <a href="/">About</a>
      <a href="/">Showpage</a>
      <a href="/">Log Out</a>

  </div>

    <%= yield %>

  </body>
</html>
